.home-all-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.home-logo {
    transition: transform 0.3s ease-in-out;
}
.home-logo:hover{
    transform: scale(1.3);
    
}
.home-welcome {
    font-size: 50px;
    color: #b25033;
}

.home-description {
    font-size: 25px;
    color: #b25033;
}

.home-footer {
    padding: 30px;
}
@media(max-width: 600px) {

    .home-logo {
        width: 500px;
    }
    .home-welcome {
        font-size: 30px;
    }
    .home-description {
        font-size: 15px;
    }
    .home-menu-button {
        width: 150px;
        height: 50px;
        font-size: 7px;
    }
    .home-footer {
        font-size: 10px;
    }
}