.menu-title-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}
.menu-title {
  text-align: center;
}
.home-button {
  width: 100px;
  height: 90px;
}
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 20px;
}
.menu-item {
  background-color: #9b2d0c;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item-image {
  margin: 0 10px 0 10px;
  width: 40%;
  height: 80%;
  border-radius: 15px;
}
.menu-item-info {
  width: 60%
}